Repository nicorithner/chinese-menu-generator-be, pull requests merged in 2023-06, with the labels that each got.

#26 WIP::recipe crud and tests
  __tests__/routes/recipes.test.ts
  src/app.ts
  src/config/config.ts
  src/controllers/recipe.controller.ts
  src/models/ingredient.entity.ts
  src/models/recipe.entity.ts
  src/routes/recipe.routes.ts
Labels: bug, Nico, Database, API, Tests

#24 Menu crud tests
  __tests__/routes/menus.test.ts
  __tests__/routes/users.test.ts
  src/app.ts
  src/config/config.ts
  src/controllers/menu.controller.ts
  src/controllers/user.controller.ts
  src/models/menu.entity.ts
  src/models/user.entity.ts
  src/routes/menu.routes.ts
  src/routes/user.routes.ts
Labels: Lingling, Database, API, Tests

#27 Add swagger user menu
  src/routes/ingredients.routes.ts
  src/routes/menu.routes.ts
  src/routes/recipe.routes.ts
  src/routes/user.routes.ts
Labels: documentation, Lingling, API

#31 Recipe Service
  package-lock.json
  package.json
  src/controllers/menu.controller.ts
  src/controllers/recipe.controller.ts
  src/models/menu.entity.ts
  src/models/recipe.entity.ts
  src/routes/menu.routes.ts
  src/routes/recipe.routes.ts
  src/services/recipe.service.ts
Labels: Lingling, Database, API
